* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;

}

#main {
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    font-family: "Gilroy";
    display: flex;
}

#left {
    height: 100%;
    width: 40%;
    position: relative;
    
}

#lnav {
    display: flex;
    width: 100%;
    padding: 20px 30px;
    justify-content: space-between;
}

#back-icon {
    height: 30px;
    width: 30px;
}

#lnavr  {
    display: flex;
    align-items: center;
    
}

#lnavr a {
    margin-right: 30px;
    text-decoration: none;
    font-size: larger;
    font-weight: 15px;
}

#lnavr img {
    /* border: 20px solid black; */
    margin-right: 30px;
    height: 20px;
    width: 30px;
}

#left #text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#text-center h1 {
    font-size: 80px;
    font-weight: 900;
    
}
#text-center p {
    opacity: .6;
    font-size: medium;
    line-height: 25px;
    margin: 20px 0;
}
#text-center a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    border-bottom: 1px dotted #000;
    padding-bottom: 5px;
    font-weight: 600;
    opacity: .8px;
}

#right {
    height: 100%;
    width: 60%;
    background-color: rgb(226, 125, 213);
}

#right-top {
    height: 50%;
    width: 100%;
    /* background-color: rgb(79, 55, 219); */
    display: flex;
}



#right-top-left {
    height: 100%;
    width: 55%;
    background-image: url("orange1.jpg");
    background-size: cover;
    background-position: bottom;
   
    
}

#right-top-right {
    height: 100%;
    width: 45%;
    background-image: url("orange2.jpg");
    background-size: cover;
    background-position: center;
}

#right-bottom {
    height: 50%;
    width: 100%;
    background-image: url("orange3.jpg");
    background-size: cover;
    background-position: center;
}
